<header>
  <h3>Your Music Library</h3>
</header>
<div class="alert alert-info"
     *ngIf="model.length === 0">
  <h4>You have no songs in your library!</h4>
</div>
<div *ngIf="model.length !== 0">
  <div class="card"
       *ngFor="let song of model">
    <div class="card-body">
      <h5 class="card-title">{{ song.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">by {{ song.artist }}</h6>
      <p class="card-text">{{ song.title }} by {{ song.artist}} is on the album
        {{ song.album }} from {{ song.year}}
      </p>
    </div>
  </div>
</div>
